{% extends "base.html" %}
{% block title %}Log in{% endblock %}
{% block main %}
<div class="span8">
    <form method="post" id="loginForm"  action="/login/">
      {% csrf_token %} 
      {% include "two.bootstrap/bootstrap-form.html" %}
      <input class="btn primary pull-right" type="submit" value="Login">
      <input type="hidden" name="redirect_to" value="{{ redirect_to }}" /></td>
    </form>  
    <a  href="/reset/">Wachtwoord vergeten?</a>
</div>
<div class="span6"></div>
{% endblock %}
