{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans %}Je ontvangt deze e-mail omdat je een nieuw wachtwoord in wil stellen op {{ site_name }}.{% endblocktrans %}

Deze aanvraag was ingediend vanaf IP-adres {{remote_addr}}

{% trans "Klik op de volgende URL om een nieuw wachtwoord te kiezen:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}/reset/confirm?uidb36={{uid}}&token={{token}}&initial=0
{% endblock %}
{% trans "Mocht je het vergeten zijn, je username is:" %} {{ user.username }}

{% trans "Super dat je onze dienst nog steeds gebruikt!" %}

{% blocktrans %}Het {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
